@import './variables.scss';
@import './normalize.css';
@import './mixins.scss';
@import './reset.scss';
@import './font.css';


html,
body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: -apple-system, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  background: $default_background_color;
  color: $default_font_color;
  height: 100%;
}